.section-hadding-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
  text-align: center;
}
.section-hadding-container h1 {
  text-transform: uppercase;
  font-family: "Cabin", sans-serif;
  letter-spacing: 2px;
}

.section-hadding-container div {
  width: 40px;
  height: 1px;
  background-color: #c0a656;
  margin: 3px 20px;
}
