.home-hader-container {
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); */

  background-position: top center;

  background-repeat: no-repeat;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.home-hader-container #inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 90px;
  height: 80%;
  padding: 20px;
}
.hader-logo-container {
  display: block;
}
/* #tag-line-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80px;
  overflow: hidden;
  margin-top: 40px;
} */
#hader-tag-line {
  margin-top: 20px;
  color: #ffffff;
  font-size: 4rem;
  font-family: "Oswald", sans-serif;
  font-weight: 50;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media screen and (max-width: 730px) {
  #hader-tag-line {
    font-size: 3rem;
  }
}

@media screen and (max-width: 570px) {
  #hader-tag-line {
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .hader-logo-container img {
    width: 200px;
    height: auto;
  }
  #hader-tag-line {
    font-size: 1rem;
  }
}

.inline-hadding {
  color: #c0a656;
}
